# Indexing

In [10]:
# make a string
a="samosa, pakora"
a[1:6],a[-4:-1]

('amosa', 'kor')

In [13]:
# make strings
food="biryani"
food.capitalize()

'Biryani'

In [15]:
a.replace("a","j"),food.replace("b","p")

('sjmosj, pjkorj', 'piryani')

In [16]:
#counting specific letter
name="being non CS engineer, learning coding is quite tough"
name.count("e")

6

In [19]:
#finding index number in string
name.find("b")
name.find("r")

20

In [21]:
#how to split a string
food="I love raita, samosa, pakora, halwa, biryani, pulao, and tikkas"
food.split(",")

['I love raita',
 ' samosa',
 ' pakora',
 ' halwa',
 ' biryani',
 ' pulao',
 ' and tikkas']

# Basic data structure in python
## 1- Tuple
## 2- list
## 3- Dictioneries
## 4- Set

## *1- Tuple*
### - ordered collection of elements
### - enclosed in round braces
### - different kind of elements can be saved
### - once elements are stored can't be unchanged

In [24]:
tupl= (1,"python","true",2.5)
tupl

(1, 'python', 'true', 2.5)

In [25]:
tupl[1]

'python'

In [27]:
tup=(2,"baba_aammar",2.5,"false")

In [28]:
#concatinate
tupl+tup

(1, 'python', 'true', 2.5, 2, 'baba_aammar', 2.5, 'false')

In [29]:
tup3=(20,30,40,50,60)

In [31]:
tup3*2

(20, 30, 40, 50, 60, 20, 30, 40, 50, 60)

---

## 2- List 
- ordered collection of elements
- enclosed in []
- mutateable, can be changed

In [45]:
list1=[1,"python","true",2.5]
list2=[2,3,"MATLAB",False,50]

In [34]:
list1[2]

'true'

In [37]:
list1+list2

[1, 'python', 'true', 2.5, 2, 3, 'MATLAB', False, 50]

In [46]:
list1.reverse()
list1

[2.5, 'true', 'python', 1]

In [48]:
#list.count function
list2.count(2)

1

In [50]:
list3=[2,3,4,5,6,7,8,9,10]
len(list3)

9

In [52]:
list3.sort()
list3

[2, 3, 4, 5, 6, 7, 8, 9, 10]

## 3- Dictioneries
- An un-ordered collection of elements
- Key end value
- curly braces
- values are changeable

In [55]:
#food and their prices
d1={"samosa":30,"pakora":100,"raista":20,"salad":10,"chicken Roles":30}
type(d1)

dict

In [57]:
#etract data
keys1=d1.keys()
keys1

dict_keys(['samosa', 'pakora', 'raista', 'salad', 'chicken Roles'])

In [60]:
values1=d1.values()
values1

dict_values([30, 100, 20, 10, 30])

In [61]:
#adding new element
d1["tikki"]=10
d1

{'samosa': 30,
 'pakora': 100,
 'raista': 20,
 'salad': 10,
 'chicken Roles': 30,
 'tikki': 10}

In [62]:
#update values
d1["pakora"]=150
d1

{'samosa': 30,
 'pakora': 150,
 'raista': 20,
 'salad': 10,
 'chicken Roles': 30,
 'tikki': 10}

In [63]:
food2={"dates":50,"chocolates":30,"Vermecillies":35}
food2

{'dates': 50, 'chocolates': 30, 'Vermecillies': 35}

In [67]:
#concatinatte
d1.update(food2)
d1

{'samosa': 30,
 'pakora': 150,
 'raista': 20,
 'salad': 10,
 'chicken Roles': 30,
 'tikki': 10,
 'dates': 50,
 'chocolates': 30,
 'Vermecillies': 35}

## 4- Set
- unordered and unindexed
- curly braces are used
- no dupliocates allowed

In [68]:
s1={1,3,2,4,5,"Usman","khan","jadoon"}
s1

{1, 2, 3, 4, 5, 'Usman', 'jadoon', 'khan'}

In [70]:
s1.remove("Usman")
s1

{1, 2, 3, 4, 5, 'jadoon', 'khan'}

In [71]:
s1.symmetric_difference("khan")

{1, 2, 3, 4, 5, 'a', 'h', 'jadoon', 'k', 'khan', 'n'}