Import libraries

In [3]:
import pandas as pd
import numpy as np

In [7]:
#object creation
s=pd.Series([1,3,np.nan,5,7,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

In [8]:
dates=pd.date_range("20220111",periods=6)
dates

DatetimeIndex(['2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21'],
              dtype='datetime64[ns]', freq='D')

In [9]:
dates=pd.date_range("20220111",periods=6)
dates
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-11  1.303203  0.158803  0.613213 -0.496009
2022-01-12  0.028289  0.463597 -1.060603 -0.392005
2022-01-13 -1.151623  1.952477 -0.584926  0.978519
2022-01-14 -1.038778 -0.973808 -0.413945 -1.352220
2022-01-15  0.410161 -0.510541  0.680381 -1.239756
2022-01-16 -0.416521  0.738600 -0.409964  0.415694

In [10]:
df.index

DatetimeIndex(['2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.to_numpy()

array([[ 1.30320312,  0.15880344,  0.61321309, -0.49600902],
       [ 0.02828852,  0.46359681, -1.06060328, -0.39200533],
       [-1.15162272,  1.95247703, -0.58492605,  0.9785191 ],
       [-1.03877758, -0.97380761, -0.41394494, -1.35221985],
       [ 0.41016063, -0.51054056,  0.68038071, -1.23975611],
       [-0.41652052,  0.73859963, -0.40996368,  0.41569387]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.144211  0.304855 -0.195974 -0.347630
std    0.929664  1.024614  0.694975  0.913281
min   -1.151623 -0.973808 -1.060603 -1.352220
25%   -0.883213 -0.343205 -0.542181 -1.053819
50%   -0.194116  0.311200 -0.411954 -0.444007
75%    0.314693  0.669849  0.357419  0.213769
max    1.303203  1.952477  0.680381  0.978519

In [14]:
#to transpose data
df.T

   2022-01-11  2022-01-12  2022-01-13  2022-01-14  2022-01-15  2022-01-16
A    1.303203    0.028289   -1.151623   -1.038778    0.410161   -0.416521
B    0.158803    0.463597    1.952477   -0.973808   -0.510541    0.738600
C    0.613213   -1.060603   -0.584926   -0.413945    0.680381   -0.409964
D   -0.496009   -0.392005    0.978519   -1.352220   -1.239756    0.415694

In [15]:
#sort the data
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2022-01-11  1.303203  0.158803  0.613213 -0.496009
2022-01-12  0.028289  0.463597 -1.060603 -0.392005
2022-01-13 -1.151623  1.952477 -0.584926  0.978519
2022-01-14 -1.038778 -0.973808 -0.413945 -1.352220
2022-01-15  0.410161 -0.510541  0.680381 -1.239756
2022-01-16 -0.416521  0.738600 -0.409964  0.415694

In [16]:
df.sort_values(by="B",ascending=True)

                   A         B         C         D
2022-01-14 -1.038778 -0.973808 -0.413945 -1.352220
2022-01-15  0.410161 -0.510541  0.680381 -1.239756
2022-01-11  1.303203  0.158803  0.613213 -0.496009
2022-01-12  0.028289  0.463597 -1.060603 -0.392005
2022-01-16 -0.416521  0.738600 -0.409964  0.415694
2022-01-13 -1.151623  1.952477 -0.584926  0.978519

In [17]:
df["A"]

2022-01-11    1.303203
2022-01-12    0.028289
2022-01-13   -1.151623
2022-01-14   -1.038778
2022-01-15    0.410161
2022-01-16   -0.416521
Freq: D, Name: A, dtype: float64

In [18]:
#row wise selection
df[0:4]

                   A         B         C         D
2022-01-11  1.303203  0.158803  0.613213 -0.496009
2022-01-12  0.028289  0.463597 -1.060603 -0.392005
2022-01-13 -1.151623  1.952477 -0.584926  0.978519
2022-01-14 -1.038778 -0.973808 -0.413945 -1.352220

In [20]:
# date wise data
#df.loc[dates[0]]
df.loc[dates[3]]

A   -1.038778
B   -0.973808
C   -0.413945
D   -1.352220
Name: 2022-01-14 00:00:00, dtype: float64

In [21]:
df.loc["20220111",["A","B","C"]]

A    1.303203
B    0.158803
C    0.613213
Name: 2022-01-11 00:00:00, dtype: float64

In [24]:
#df.at(dates[1],"A")

TypeError: '_AtIndexer' object is not callable

In [25]:
df.iloc[0:1,2:2]

Empty DataFrame
Columns: []
Index: [2022-01-11 00:00:00]

In [26]:
#Boolean operators
df[df["A"]>0]

                   A         B         C         D
2022-01-11  1.303203  0.158803  0.613213 -0.496009
2022-01-12  0.028289  0.463597 -1.060603 -0.392005
2022-01-15  0.410161 -0.510541  0.680381 -1.239756